# Core functionality - changes here should be rare!
/src/app.py                   @tourky2010
/src/backend/database.py      @tourky2010
/src/backend/routers/auth.py  @tourky2010

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tourky2010
